.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;

  &__nav {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
    span {
      &.brand {
        font-size: 1.5em;
      }
      cursor: pointer;
      &:hover {
        font-weight: bold;
        background: darken(white, 10%);
      }
    }
    flex-grow: 10;
  }

  &__main {
    border: 1px solid black;
    flex-grow: 80;
    display: flex;

    &__livro {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .buttons {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
      }
    }
  }

  &__footer {
    border: 1px solid black;
    flex-grow: 10;
  }

}
